/*
----------------------------------------------------------------------------------------------
  Spacing utility classes with value for each breakpoint or RFS to auto calculate from 1 value
  Author : Ian Reid Langevin @3ejoueur - 2020
----------------------------------------------------------------------------------------------
*/

/* You can add breakpoints with value if you want */
$spacing-values: (
  xs: 3rem,
  sm: 4rem,
  md: 5rem,
  xl: 6rem,
);

/* Fractions used in classes like mt-quarter or pb-third */
$spacing-fractions: (
  'full': 1,
  'threequarter': 0.75,
  'twothird': 0.66,
  'half': 0.5,
  'third': 0.33,
  'quarter': 0.25,
);

@each $spacing-fraction, $percentage in $spacing-fractions {
  @each $property, $abbr in (margin: m, padding: p) {
    @each $orientation, $orientationabbr in (top: t, bottom: b) {

      @each $name, $fullvalue in $spacing-values {
        .#{$abbr}#{$orientationabbr}-#{$spacing-fraction} {
          @include media-breakpoint-up($name) {
            #{$property}-#{$orientation}: $fullvalue * $percentage;
          }
        }
      }

    }
  }
}
