

.spacing-exemple__bg {
  background-color: #e7edee;
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  font-size: 0.8rem;
  color: #525557;
  border-radius: 6px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(205, 215, 217);
}

.item {
  background-color: #fff;
  display: flex;
  align-items: center;
  height:50px;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.11);
}

.item-third {
  width: 100%;

  @media screen and (min-width: 1200px) {
    width: 33.333%;
  }
}

.item-half {
  width: 50%;
}

.item-full {
  width: 100%;
}
