<style lang="scss">
  @import "./_breakpoints.scss";
  @import "./_spacing.scss";
  @import "./_spacing-custom.scss";
</style>

<template>
  <div class="spacing-exemple__bg mt-half">
    <div class="spacing-exemple__wrapper">
      <div class="row mb-full">
        <div class="item item-half">Élément aucune marge / Row mb-full</div>
        <div class="item item-half">Élément aucune marge / Row mb-full</div>
      </div>
      <div class="row mb-half">
        <div class="item item-full mb-half">Élément mb-half / Row mb-half</div>
        <div class="item item-full mb-half">Élément mb-half / Row mb-half</div>
      </div>
      <div class="row mb-threequarter">
        <div class="item item-third mb-quarter">Élément mb-quarter / Row mb-threequarter</div>
        <div class="item item-third mb-quarter">Élément mb-quarter / Row mb-threequarter</div>
        <div class="item item-third mb-quarter">Élément mb-quarter / Row mb-threequarter</div>
        <div class="item item-half mb-quarter">Élément mb-quarter / Row mb-threequarter</div>
        <div class="item item-half mb-quarter">Élément mb-quarter / Row mb-threequarter</div>
      </div>
      <div class="row mb-twothird">
        <div class="item item-half mb-third">Élément mb-third / Row mb-threethird</div>
        <div class="item item-half mb-third">Élément mb-third / Row mb-threethird</div>
        <div class="item item-half mb-third">Élément mb-third / Row mb-threethird</div>
      </div>
    </div>
  </div>
</template>
