
.sidebar
  background-color #f1f5f8

.custom-block .custom-block-title
  display none

h2
  color #23599f

p, ul, ol
  margin 1.5em 0

hr
  border-top: 1px solid #7ec699;
  margin-top: 2.5rem;

blockquote
  color #23599f
  font-style italic

table
  width 100%
  margin 1rem 0 2rem 0

  @media screen and (min-width: 1200px)
    display: inline-table

  th
    text-align left

.token.boolean,
.token.number,
.token.function
  color #f0c649

.sidebar > .sidebar-links > li:not(:first-child)
  margin-top 0.5rem

.theme-container .sidebar > .sidebar-links > li > a.sidebar-link,
.theme-container .sidebar .sidebar-heading
  font-size 1em
